## folders
data/*
data_raw/*
figures/*
tables/*

# keep empty folders
!data/.gitkeep
!data_raw/.gitkeep
!figures/.gitkeep
!tables/.gitkeep

# Common editor / OS artifacts (optional, add more as needed)
.DS_Store
Thumbs.db
__pycache__/
*.py[cod]
*.swp